.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Spin {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control {
  margin: 20px;
  padding: 25px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 25px;
}


.App-column-form {
  float: left;
  width: 40%;
  background-color: #ececec;
  min-height: 55vh;
  align-items: center;
}

.App-column-feed {
  float: right;
  width: 60%;
  background-color: ;
  min-height: 55vh;
}

.short-table {
  height: 55vh;
  overflow: auto;
}

.Row:after {
  content: "";
  display: table;
  position: fixed;
}